table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

th, td {
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 8px;
    border: 1px solid #ddd;
}

th {
    text-align: left;
}

/* hover for button */
.product-row { 
    position: relative; 
}

.hover { 
    position: relative; 
    left: 10px; 
}

.hover-button { 
    display: none; 
}

.product-row:hover .hover-button { 
    display: inline-block; 
}
